/* ==========================================================================
   SELECT
   ========================================================================== */

select {
   width: 20em;
   padding: .8em .5em;
   margin-bottom: 2em;
   border: 1px solid #999;
   font-family: inherit;
   background: url('/assets/images/icon/arrow.png') no-repeat 95% 50%;
   border-radius: 0px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}